<div id="warning" class="alert alert-warning text-center">Please provide valid URL.</div>
<div id="shortified" class="alert alert-info text-center">
  Shortified: <strong><a href="#"></a></strong>
</div>
<div class="container container-table">
  <div class="row vertical-center-row">
    <div class="input-group text-center col-md-4 col-md-offset-4">
      <input id="url" type="text" class="form-control" placeholder="Paste here">
      <span class="input-group-btn">
        <button id="shortify" class="btn btn-success" type="button"><span class="spinner glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Shorty!</button>
      </span>
    </div>
  </div>
</div>